.learn_more {

    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;


    width: 12rem;
    height: auto;
}

.learn_more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(65 217 159);
    border-radius: 1.625rem;
}

.learn_more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
}

.learn_more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn_more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: .3rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid black;
    border-right: 0.125rem solid black;
    transform: rotate(45deg);
}

.learn_more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(65 217 159);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn_more:hover .circle {
    width: 100%;
}



.learn_more:hover .button-text {
    color: black;
}


.navbar_dark_bg {
    background: url("../../assets/img/Group 377.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.navbar_light_bg {
    background: url("../../assets/img/Group 377 (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}