@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Outfit:wght@400;500;600;700;800;900&display=swap');


/* styles/globals.css */
@import "~aos/dist/aos.css";

body {

  font-family: 'Outfit', sans-serif;
}

h2,
h1,
h3 {
  font-family: 'Heebo', sans-serif;

}



.custom-container {
  @apply px-5 md:px-10 max-w-7xl mx-auto;
}


.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  border: 1px solid gray;
  background-color: black;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}


/* .text-stroke {
  -webkit-text-strokeWidth: 1px;
  -webkit-text-stroke-color: rgba(128, 128, 128, 0.266);
 
}

.text-transparent-stroke {
  -webkit-text-fill-color: transparent;
} */

.text-stroke-effect {
  position: relative;
}

.text-stroke-effect::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(128, 128, 128, 0.266);
  color: transparent;
}





.navbar_dark_bg {
  background: url("../assets/img/Group 377.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.navbar_light_bg {
  background: url("../assets/img/Group 377 (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}